.main {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--defaultfont);
}

.form-container {
  width: 100%;
}

.input-container {
  width: 100%;
  height: 80px;
}
.input-label {
  display: block;
  width: 100%;
  height: 12px;
  color: var(--primary);
  font-size: var(--smallfont);
}

.input-box {
  width: 100%;
  height: 40px;
  border: 1px solid var(--darkgray);
  border-radius: 8px;
}

.warning {
  margin-top: 2px;
  color: var(--warning);
  font-size: var(--smallfont);
}

.submit-button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin-top: 12px;
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
  box-shadow: 4px 4px var(--lightgray);
}

.submit-button:disabled {
  background-color: var(--darkgray);
}

.checkbox-container {
  display: flex;
  align-items: center;
}
