.chatting-layout {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}

.mentoring-list {
  background-color: var(--lightgray);
  padding: 20px;
  flex: 1;
  border-radius: 4px;
  min-height: 60vh;
}

.chatting-box {
  background-color: var(--lightgray);
  padding: 20px;
  flex: 2;
  border-radius: 4px;
  min-height: 60vh;
}

.request-name {
  padding: 10px;
  margin-bottom: 10px;
  font-size: var(--largefont);
  cursor: pointer;
  border-bottom: 1px solid var(--darkgray);
}

.mentoring-detail {
  padding: 20px;
  font-size: var(--largefont);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.button-container {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

.message-detail {
  min-height: 40vh;
  background-color: var(--lightgray);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.message-box {
  flex: 2;
  border-radius: 4px;
}

.send-message {
  background-color: #faf0e6;
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  align-self: flex-end;
  text-align: right;
}

.receive-message {
  background-color: var(--secondary);
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.message-label {
  color: var(--darkgray);
  font-size: var(--smallfont);
}

/* My Page */

.mypage-container {
  width: 1000px;
  min-height: 600px;
  background-color: var(--lightgray);
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.2);
}

.mypage-contents {
  min-height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mypage-nav {
  margin: 5px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  padding-right: 10px;
  width: 25%;
}

.mypage-nav-link {
  margin: 10px 0;
}

.mypage-personalinfo {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 70%;
}

.personalinfo-field-head {
  font-weight: bold;
  font-size: var(--largefont);
  margin-bottom: 0;
}

/* Mentoring Sessions */
.star-wrapper-session a {
  font-size: 2em;
  color: var(--dark);
  text-decoration: none;
  transition: all 0.5s;
  margin: 4px;
}
