.button {
  display: block;
  width: 120px;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin-left: 10px;
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: right;
}

.event-form1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  width: 50%;
  margin: auto;
}

.event-form2 {
  display: flex;
  margin: auto;
}

.members-only-block {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.create-btn {
  display: flex;
  justify-content: right;
}
