[Unit]
Description=Vertical Prototype
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/actions-debugme/_work/csc648-848-05-sw-engineering-spring-2023-T02/csc648-848-05-sw-engineering-spring-2023-T02/Milestones/M3/HorizontalPrototype/client/api
ExecStart=/home/ubuntu/actions-debugme/_work/csc648-848-05-sw-engineering-spring-2023-T02/csc648-848-05-sw-engineering-spring-2023-T02/Milestones/M3/HorizontalPrototype/client/api/env/bin/gunicorn -w 2 -b 127.0.0.1:5000 run:app
Restart=always

[Install]
WantedBy=multi-user.target
