.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header-wrapper {
  border-bottom: 1px solid var(--gray);
}

.link-wrapper {
  gap: 20px;
}

.link-wrapper > a {
  text-decoration: none;
  color: var(--black);
}

.logo {
  text-decoration: none;
  color: var(--primary);
}

.footer-wrapper {
  background-color: var(--lightgray);
  height: 120px;
  padding: 20px;
}
.button {
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.default-button {
  background-color: var(--primary);
  color: var(--white);
  box-shadow: 4px 4px var(--lightgray);
}

.disabled-button {
  background-color: var(--gray);
  color: var(--black);
}

.default-input {
  padding: 8px;
  border: 1px solid var(--darkgray);
  background-color: var(--lightgray);
  border-radius: 8px;
}

.default-textarea {
  padding: 8px;
  border: 1px solid var(--darkgray);
  background-color: var(--lightgray);
  border-radius: 8px;
}
