/*Containers*/
.container {
  width: 1400px;
  height: 580px;
  background-color: var(--lightgray);
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  border: 1px solid ccc;
  border-radius: 0px;
  margin: 0 auto;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.2);
}

.guide-container {
  width: 1500px;
  min-height: 670px;
  overflow: hidden;
  background-color: var(--lightgray);
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  border: 1px solid ccc;
  border-radius: 0px;
  margin: 0 auto;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.2);
}

.feedback-container {
  width: 1500px;
  min-height: 670px;
  overflow: hidden;
  background-color: var(--lightgray);
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  border: 1px solid ccc;
  border-radius: 0px;
  margin: 0 auto;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.2);
}

.box {
  width: 1000px;
  height: 580px;
  background-color: var(--lightgray);
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 25px;
  border: 1px solid ccc;
  border-radius: 0px;
  margin: 0 auto;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/*Buttons*/
.create-btn {
  width: 200px;
  display: block;
  margin: 45px 75px 5px 5px;
  text-align: center;
  padding: 3px;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  background-color: var(--primary);
  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;
}

.create-btn:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn2 {
  display: block;
  width: 100px;
  height: 25px;
  font-weight: 400;
  float: left;
  white-space: nowrap;
  user-select: none;
  margin-left: 300px;
  margin-right: 110px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 8px;
  color: #fff;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
  text-align: center;
}

.btn2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.btn3 {
  display: block;
  width: 210px;
  height: 25px;
  font-weight: 400;
  white-space: nowrap;
  user-select: none;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 8px;
  color: #fff;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
  text-align: center;
}

.btn3:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cancel-btn {
  display: block;
  width: 100px;
  height: 25px;
  font-weight: 400;
  float: left;
  white-space: nowrap;
  user-select: none;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 8px;
  color: black;
  background-color: #fff;
  border: 1px solid;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: var(--lightgray);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.feedback-btn {
  display: block;
  width: 190px;
  height: 25px;
  font-weight: 400;
  float: right;
  white-space: nowrap;
  user-select: none;
  margin-right: 25px;
  margin-bottom: 22px;
  font-size: 19px;
  border-radius: 8px;
  color: #fff;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
  text-align: center;
}

.feedback-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.submit {
  display: block;
  width: 190px;
  height: 25px;
  font-weight: 400;
  white-space: nowrap;
  user-select: none;
  margin: 10px auto;
  font-size: 20px;
  border-radius: 8px;
  color: #fff;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
  text-align: center;
}

.submit:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Feedback Form Page*/
textarea{
  display: block;
  width: 1000px;
  height: 250px;
  margin: 30px auto;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: var(--white);
  font-size: 16px;
  resize: none;
}

/* Star rating */
.star-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  direction: rtl;
  margin: 10px auto;
}

.star-wrapper a {
  font-size: 4em;
  color: var(--dark);
  text-decoration: none;
  transition: all 0.5s;
  margin: 4px;
}
.star-wrapper a:hover {
  color: gold;
  transform: scale(1.3);
}

.s1:hover ~ a {
  color: gold;
}
.s2:hover ~ a {
  color: gold;
}
.s3:hover ~ a {
  color: gold;
}
.s4:hover ~ a {
  color: gold;
}
.s5:hover ~ a {
  color: gold;
}
.wraper {
  position: absolute;
  bottom: 30px;
  right: 50px;
}

/* Feedback Modal Window */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

/*Headers*/

h1 {
  font-family: Arial, sans-serif;
}

h2 {
  font-family: Arial, sans-serif;
  margin: 10px auto;
}

h3 {
  display: block;
  font-family: Arial, sans-serif;
  margin: 10px auto;
  font-size: 25px;
}

h4 {
  font-family: Arial, sans-serif;
  margin: 125px;
}

table {
  width: 100%;
  background-color: auto;
  border: none;  
}

th, td {
  border: none;
  text-align: left;
}

/*To remove the underline from links */
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/*Navigation*/
.sidenav {
  width: 130px;
  float: left;
  z-index: 1;
  top: 20px;
  right: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  border-radius: 5px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.nav-name {
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.img {
  border-radius: 50%;
  width: 60px;
  margin: 0 auto;
}

