ul {
  list-style-type: none;
}

body {
  font-family: Verdana, sans-serif;
}

/* Month header */
.month {
  padding: 50px 20px;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 5px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 5px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 5px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}


/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}


/* Container for the calendar */
.calendar-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 800px; /* set maximum width of the container */
  border: 1px solid #ccc;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;

}


.calendar-filters {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
  justify-content: space-between;
  
}

/* Filter buttons */
.filter-button {
  
  
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  min-width: 100px;
  height: 25%;
  
  
}

.filter-button:hover {
  background-color: #0e8a72;
}

.event-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.event-button {
  border: none;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.event-button:hover {
  background-color: #eeeeee;
}


.event-date {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.event-description {
  font-size: 14px;
  color: #666;
}